---
// src/components/ProfileImage.astro
import { Image } from "astro:assets";
const { src, alt } = Astro.props;
---

<div class="image">
  <Image src={src} alt={alt} width={400} height={400} />
</div>
